.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--header-border);
    font-size: 24px;
}

.HP {
    font-weight: bold;
    width: 100px;
    text-align: left;
    display: flex;
    gap: 4px;
    align-items: center;
    @media (max-width: 1024px) {
        font-size: 20px;
    }
}

.hp {
    display: inline-flex;
    align-items: center;
    width: 100px;
    height: 48px;
    color: var(--hp-inactive);
}

.hp svg {
    width: 200%;
    height: 200%;
    fill: currentColor;
}

.hp.red {
    color: var(--hp);
}


.restart-btn {
    padding: 8px 16px;
    background-color: var(--grid-bg);
    color: var(--grid-text);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    transition: all 0.2s ease;

    @media (max-width: 1024px) {
        padding: 6px 12px;
        font-size: 14px;
    }
}

.restart-btn:hover {
    background-color: var(--btn-hover-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header.title {
    display: fixed;
    gap: 12px;
    justify-content: center;
    text-align: center;
    align-self: center;
    @media (max-width: 1024px) {
        gap: 8px;
    }
}
